@media screen and (max-width: 1250px) {
  /* Block - projects*/
  .projects__list {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 1160px) {
  /* Block - header */
  .header__search {
    margin-left: 25px;
    margin-right: 0;
  }
  /* Block - logo */
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo__image {
    position: static;
    margin-right: 10px;
  }
}
@media screen and (max-width: 1000px) {
  /* Block - header */
  .header__slider {
    height: 330px;
  }
  .header__logo,
  .logo__text {
    margin-top: 0;
  }
  /* Block - menu */
  .menu li a {
    margin: 0 10px;
  }
  /* Block - story */
  .story__steps {
    padding-left: 270px;
  }
  .story__steps-img {
    left: 510px;
  }
  /* Block - build */
  .build__right-part {
    margin-right: 0;
  }
  /* Block - show-tab */
  .show-tab {
    left: -40px;
  }
  .show-tab__name {
    left: 104%;
  }
  /* Block - modal */
  .modal__content--project .modal__close {
    right: 0;
  }
}
@media screen and (max-width: 950px) {
  /* Block - header */
  .header__menu {
    position: relative;
  }
  .header__logo {
    margin-left: 20px;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
  }
  /* Block - logo */
  .header .logo__descr {
    display: none;
  }
  /* Block - content */
  .content--max {
    max-width: 630px;
  }
  /* Block - nav */
  .nav__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .nav--opened .menu__list {
    left: -15px;
    border-width: 1px;
  }
  .nav--opened .header__logo {
    left: 90px;
  }
  /* Block - callback */
  .callback {
    border-left: none;
    width: auto;
    padding-left: 0;
  }
  .header .callback__phone {
    display: none;
  }
  /* Block - menu */
  .menu {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    height: 100%;
  }
  .menu__phone-trigger {
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    display: block;
  }
  .menu__list {
    position: absolute;
    left: -200px;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 600px;
    background-color: #404040;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: all 600ms;
    -o-transition: all 600ms;
    transition: all 600ms;
  }
  .menu__list li {
    width: 145px;
    text-align: center;
  }
  .menu__list li a {
    width: 100%;
    margin: 0;
  }
  .header__menu li a.current-item {
    background-color: #71c10d;
  }
  .menu__list--opened {
    height: 600px;
  }
  /* Block - tabs */
  .tabs {
    width: 480px;
  }
  /* Block - story */
  .story__steps {
    max-width: 1000px;
    margin: 0 -15px;
  }
  .story__house {
    width: 290px;
    left: 5px;
    top: -10px;
  }
  .story__steps-img {
    width: 360px;
  }
  /* Block - project */
  .project__preview {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;
  }
  .project__text-overlay {
    left: -220px;
  }
  .project__arrows.btn--prev {
    right: 190px;
  }
  .project__descr {
    margin-top: 0;
  }
  /* Block - footer__top */
  .footer__menu {
    display: none;
  }
  .footer__bottom {
    padding-top: 30px;
  }
  .politics,
  .footer__contacts {
    width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .footer__search {
    display: none;
  }
  /* Block - social */
  .social {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 50%;
  }
  .social__items {
    max-width: 100px;
  }
  /* Block - project */
  .modal__content--project {
    width: 88%;
  }
  .modal__content--project .modal__close {
    right: -35px;
  }
}
@media screen and (max-width: 900px) {
  /* Block - header */
  .header__slider {
    height: 300px;
  }
  /* Block - slider-head */
  .slider-head__content {
    margin-left: 30%;
  }
  /* Block - story */
  .story__steps {
    max-width: 1000px;
    margin: 0 -15px;
    padding-left: 15px;
    padding-top: 190px;
    padding-bottom: 84px;
  }
  .story__house {
    width: 340px;
    left: 5px;
    top: -50px;
  }
  .story__steps-img {
    width: 421px;
    bottom: 0;
    left: 350px;
  }
  /* Block - show-tab */
  .show-tab__name {
    display: none;
  }
  /* Block - tabs */
  .tabs {
    width: 400px;
  }
  /* Block - build */
  .build__content {
    padding-right: 60px;
  }
  .build__right-part,
  .build__show-tab {
    width: 320px;
  }
  /* Block - project */
  .project__main-pict {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .project__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .project__pict-slider {
    width: 25%;
    height: 410px;
    margin-top: 0;
    padding-left: 10px;
  }
  .project__main-pict {
    width: 70%;
    height: 440px;
  }
  .project__content {
    margin-top: 50px;
    width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .project__text-overlay {
    left: 0;
  }
  .project__param-name {
    padding-left: 30px;
  }
  .project__descr-headline,
  .project__btn {
    margin-left: 30px;
  }
}
@media screen and (max-width: 800px) {
  /* Block - story */
  .story__steps-img {
    left: 250px;
    bottom: -20px;
  }
  /* Block - build */
  .build__right-part {
    position: relative;
    bottom: 0;
  }
  .build__right-part,
  .tabs,
  .build__show-tab,
  .build__left-part {
    width: 100%;
  }
  .build__show-tab {
    left: 0;
    top: auto;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    height: 100%;
  }
  /* Block - tabs */
  .tabs__btn.btn--next {
    left: auto;
    right: 50%;
    -webkit-transform: translate(110%, 0);
        -ms-transform: translate(110%, 0);
            transform: translate(110%, 0);
  }
  .tabs__btn.btn--prev {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-110%, 0);
        -ms-transform: translate(-110%, 0);
            transform: translate(-110%, 0);
  }
}
@media screen and (max-width: 775px) {
  .project__pict-slider {
    margin-top: 30px;
    width: 100%;
    height: 110px;
  }
  .project__main-pict {
    width: 80%;
    margin: 0 auto;
  }
  .project__arrows.btn--next,
  .project__arrows.btn--prev {
    top: auto;
    bottom: -50px;
  }
  .project__arrows.btn--prev {
    left: 50%;
    -webkit-transform: translate(-110%, 0);
        -ms-transform: translate(-110%, 0);
            transform: translate(-110%, 0);
  }
  .project__arrows.btn--next {
    right: 50%;
    -webkit-transform: translate(110%, 0);
        -ms-transform: translate(110%, 0);
            transform: translate(110%, 0);
  }
  .project__content {
    margin-top: 60px;
  }
  .project__main-pict {
    height: 400px;
  }
}
@media screen and (max-width: 680px) {
  /* Block - modal */
  .modal__content--project {
    width: 83%;
  }
  /* Block - project */
  .project__main-pict {
    height: 300px;
  }
  .project__param-name {
    width: 300px;
  }
}
