* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 12px;
  line-height: 1.16;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.headline {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 25px;
  color: #404040;
  font-weight: 500;
  text-transform: uppercase;
}
.btn {
  display: inline-block;
  line-height: 25px;
  color: #fff;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.btn--main {
  background-color: #72C10E;
}
.btn--main:hover {
  background-color: #5b9b0a;
  cursor: pointer;
}
.btn--link {
  padding: 0 22px;
}
.btn--slider {
  font-size: 14px;
  color: #e9e9e9;
  background-color: transparent;
  border: 2px solid #dad7d3;
}
.btn--slider:hover {
  color: #555555;
  border-color: #555555;
}
.btn--callback {
  font-size: 14px;
  width: 100%;
}
.logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}
.logo__text {
  max-width: 90px;
  margin-top: 5px;
  color: #fff;
}
.logo__headline {
  margin: 0;
  line-height: 1;
  font-size: 26px;
  font-weight: 900;
}
.logo__descr {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 9px;
  font-weight: 100;
}
.logo__image {
  position: absolute;
  left: -45px;
  top: 12px;
  width: 28px;
  height: auto;
}
/*** Global Styles ***/
/* Block - header */
.header__slider {
  position: relative;
  height: 375px;
  max-width: 1170px;
  margin: 0 auto;
  z-index: 1;
  overflow: hidden;
}
.header__slider:before {
  left: -160px;
  -webkit-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
  border-right: .1px solid #c7c7c7;
}
.header__slider:after {
  right: -160px;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
  border-left: .2px solid #c7c7c7;
}
.header__slider:after,
.header__slider:before {
  position: absolute;
  top: -50px;
  width: 300px;
  height: 1000px;
  content: "";
  display: block;
  background-color: #fff;
  -webkit-box-shadow: inset 0px 0px 28.35px 6.65px rgba(0, 0, 0, 0.32);
          box-shadow: inset 0px 0px 28.35px 6.65px rgba(0, 0, 0, 0.32);
}
.header__nav {
  background-color: #404040;
}
.header__logo {
  margin-top: 9px;
}
.header__search {
  margin-right: 35px;
  margin-left: 55px;
}
/* Block - nav */
.nav {
  height: 90px;
}
.nav__inner {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* Block - menu */
.menu__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}
.menu li a {
  display: inline-block;
  height: 90px;
  margin: 0 13px;
  line-height: 90px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.menu li a.current {
  border-bottom: 5px solid #71c10d;
}
/* Block - search */
.search {
  width: 20px;
  height: 20px;
  background: url(../img/loop.png) no-repeat;
  background-size: cover;
  -ms-flex-item-align: center;
      align-self: center;
}
/* Block - callback */
.callback {
  width: 195px;
  padding-left: 35px;
  border-left: 1px solid #6c6c6c;
}
.callback__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.callback__phone {
  margin-bottom: 5px;
  font-size: 19px;
  font-weight: 500;
  color: #fff;
  font-style: normal;
}
.slider-head__item {
  margin: 0 auto;
  height: 375px;
  background: url(../img/header_bg.jpg) no-repeat;
  background-size: cover;
  background-position: center -20px;
}
.slider-head__content {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin-left: 20%;
  max-width: 311px;
  text-align: left;
}
.slider-head__text {
  margin-bottom: 10px;
}
.slider-head__arrow {
  position: absolute;
  bottom: 30px;
  width: 100px;
  height: 100px;
  border: 5px solid #71c10d;
  background: url(../img/header_bg.jpg) no-repeat;
  background-size: cover;
  outline: none;
  z-index: 2;
}
.slider-head__arrow--prev {
  left: 30px;
}
.slider-head__arrow--next {
  right: 30px;
}
.slider-head__arrow:after,
.slider-head__arrow--next:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  content: "";
  border: 25px solid transparent;
}
.slider-head__arrow--prev:after {
  left: 35%;
  border-right: 25px solid rgba(255, 255, 255, 0.7);
}
.slider-head__arrow--next:after {
  left: 70%;
  border-left: 25px solid rgba(255, 255, 255, 0.7);
}
.slider-head__arrow:hover {
  cursor: pointer;
}
.slider-head__index-prev,
.slider-head__index-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.slider-head__index-prev {
  right: -30px;
  padding-left: 20px;
  padding-right: 5px;
}
.slider-head__index-next {
  left: -30px;
  padding-left: 5px;
  padding-right: 20px;
}
